<link rel="stylesheet" href="~/styles/style.css" />
<head>
    <link href="~/gif/favicon.ico" rel="shortcut icon" />
    <title>Главная - NYSS, Курсач</title>
</head>

<div id="kakkos">
    <h2>Добро пожаловать в уникальное приложение для шифрования/дешифрования с использованием шифра Виженера</h2>
    <h5>Для большего погружения заходите не через Chrome)))</h5>
</div>

<form method="post" action="/Home/Result/" class="centered">
    <p> Данные:</p>
    <textarea required name="Data" cols="50" rows="5"> </textarea>
    <p>Ключ: </p>
    <input class="key" type="text" name="Key" value="скорпион" required />
    <p>Зашифровать<input type="radio" name="type" value="encode" checked="checked" /></p>
    <p>Расшифровать<input type="radio" name="type" value="decode" /></p>
    <p><input value="Погнали!!!" type="submit" class="sexyButton"/> </p>

    <p><a href="/Home/ViaFile/">Хочу сделать через файл!</a></p>
</form>



<video controls="" loop="" autoplay="" name="media" preload="auto" hidden >
    <source src="~/music/music.wav" type="audio/mp3">
</video>


