<h2>Через файл</h2>

<form method="post" action="" enctype="multipart/form-data">
    <p><input type="file" name="upload" required /></p>
    <p>Ключ<input type="text" value=@ViewBag.Key name="key" required /></p>
    <p>Зашифровать<input type="radio" name="type" value="encode" checked="checked" /></p>
    <p>Расшифровать<input type="radio" name="type" value="decode" /></p>
    <p><input type="submit" value="Погнали!!!" /></p>
</form>

<p>Результат</p>
<textarea readonly cols="50" rows="5">
    @ViewBag.Result
</textarea>
<form action="/Home/Download/" method="post" enctype="multipart/form-data">
    <input type="hidden" value="@ViewBag.Result" name="result" />
    <p><input type="submit" value="Скачать .docx" /></p>
</form>

<link rel="stylesheet" href="~/styles/style.css" />
<p><a href="/../">Назад</a></p>


@*<video controls="" loop="" autoplay="" name="media" preload="auto" hidden>
    <source src="~/music/music.wav" type="audio/mp3">
</video>*@